################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FrameworkSln/Framework/_exec
/FrameworkSln/.vs/FrameworkSln
